{% extends 'SmartClassroomBundle:Default:index.html.twig' %}

{% block template_content %}

<div class="container-fluid">
    <!-- Page Heading -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                {{ collection.getName }} -  <small>Collection</small>
            </h1>
            <ol class="breadcrumb">
                <li class="active">
                    <i class="fa fa-dashboard"></i> collection with id {{ collection.getId }}
                </li>
            </ol>
        </div>
    </div>
    <!-- /.row -->

    <div class="row">
        <div class="col-sm-4">
            <h3>Details</h3>
            <p>Name: <br/>{{ collection.getName }}</p>
            <p>Description: <br/>{{ collection.getDescription }}</p>
            <p>Location description: <br/>{{ collection.getLocationDescription }}</p>
        </div>
        <div class="col-sm-4">
            <h3>List of sensors</h3>
            <ul>
                {% for sensor in collection.getSensors %}
                    <!-- Modal -->
                    <div class="modal fade" id="sensor-{{ sensor.getId }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                    <h4 class="modal-title" id="myModalLabel">{{ sensor.getName }} <small> - Sensor details</small></h4>
                                </div>
                                <div class="modal-body">
                                    <div>Description: <br/>{{ sensor.getDescription }}</div>
                                    <hr/>
                                    <div>Parrent collection: <br/>{{ sensor.getCollection.getName }}</div>
                                    {#<div>{{ actuator.getLocationDescription }}</div>#}
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                    <button type="button" class="btn btn-primary">OK</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <li><a data-toggle="modal" data-target="#sensor-{{ sensor.getId }}">{{ sensor.getName }}</a></li>
                {% endfor %}
            </ul>
        </div>

        <div class="col-sm-4">
            <h3>List of actuators</h3>
            <ul>
                {% for actuator in collection.getActuators %}
                    <!-- Modal -->
                    <div class="modal fade" id="actuator-{{ actuator.getId }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                    <h4 class="modal-title" id="myModalLabel">{{ actuator.getName }} <small> - Actuator details</small></h4>
                                </div>
                                <div class="modal-body">
                                    <div>Description: <br/>{{ actuator.getDescription }}</div>
                                    <hr/>
                                    <div>Parrent collection: <br/>{{ actuator.getCollection.getName }}</div>
                                    {#<div>{{ actuator.getLocationDescription }}</div>#}
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                    <button type="button" class="btn btn-primary">OK</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <li><a data-toggle="modal" data-target="#actuator-{{ actuator.getId }}">{{ actuator.getName }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <a href="{{ url('create_sensor', {'collection_id': collection.getId}) }}">Add sensor</a>
            |
            <a href="{{ url('create_actuator', {'collection_id': collection.getId}) }}">Add actuator</a>
        </div>
    </div>
    <!-- /.row -->

</div>
<!-- /.container-fluid -->
<hr>
{% endblock %}